
/*reset*/
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
p {  
    color:rgb(0, 0, 0);
    font-size: 1rem;   
    font-family: 'Montserrat', sans-serif;
}
html{
    min-height: 100%;
}
body{
    min-height: 100%;
    min-width: 100%;
}
main{
    width: auto;
    min-width: 100%;
    margin: 0;
}
/***************************************
************HTML IDNEX******************
****************************************/
.container__grid__index{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content_index content_index content_index"
     "content_index content_index content_index"
    "foot foot foot"
    ;
}
.content__nav__menu{
    grid-area: links;
  
}
.container__home{
    grid-area: content_index;
}
.container__footer{
    grid-area: foot;
}
/************************************

**************CSS HEADER*************

************************************/
.style__navbar{
    width: 100%;
    color:white;
    background-color: #000222;
    position: fixed;
}
.style__navbar__logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.style__navbar__li a{
    color:rgb(244, 244, 250);
    margin-left: 20px;
}
.style__navbar__li a:hover{
    color:#000150;
    background-color: white;
}
.nav__contacto{
    display: flex;

}


.nav__contacto__mail{
    display: flex;
    color:white;
    padding-left: 350px;
    font-size: 12px;
    text-decoration: none;
    align-items: center;
    
}
/************************************
**************FINISHED CSS HEADER*************
************************************/
.img__header{
    background-image: url(../assets/sitio.jpg);
    background-position: center;
    width: 100%;
    height: 65vh;
    margin-bottom: 50px;
}
.img-header-index h2{
    display: flex;
    font-size: 5em;
    position: relative;
    top:64px;
    color:#ded7eb;
    background-color: #555555;
    opacity: .5;
    width: 100%;
    height: 154px;
}
.back__color{
    background-color: #000222;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px;
}
.carousel__rubros{
    
    margin-left: 80px;
    margin-right: 80px;
}
.width__carousel img{
    opacity: .5;
    width: 100%;
    height:400px ;
}
.width__carousel a{
    text-decoration: none;
    color: white;
}
.width__carousel h5{
    font-size: 50px;
}
.width__carousel  p{
    color:white;
   
}
.advice{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 30px;
}

.advice__description{
    display: flex;
    flex-direction: row-reverse;
    margin:50px 20px 50px 20px;
}
.advice__description__text{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:#f5f5f5 ;
    padding: 30px;
    margin:30px;
    box-shadow: 8px -8px 8px 0px #e5e5e5;
    
}
.advice__description__text p{
    text-align: justify;
}
.advice__description__text h2{
    color:#000150;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.advice__description__text ul{
    text-align: justify;
}
.advice__description__text li{
    padding-bottom: 10px;
}
.advice__description__img{
    display:flex;
    margin-right: 10px;
    
}
.advice__description__img img{
    width: 100%;
}
.because{
    display:flex;
    flex-direction: column;
    
}
.because__title{
    text-align: center;
    margin-bottom: 60px;
}
.because__column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:30px;

}
.because__reason{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px 0px 30px;
}
.because__reason h3{
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.because__reason p{
    text-align: justify;
}

/*************************************************** 

***************HTML Rubros**********************

*************************************************/
.container__grid__rubros{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content content content"
    "content content content"
    "foot foot foot"
    ;
}
.content__nav__menu{
    grid-area: links;
}
.content__rubros{
    grid-area: content;
}

.content__footer{
    grid-area: foot;
}
.title__service__rubros{
    display: flex;
    flex-direction: column;
    margin-top:90px ;
}
.title__service__rubros h2{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    font-size: 32px;
    background-color: #ded7eb;
}
.title__service__rubros h2 p{
    padding-top: 10px;
    color:#747474;
}
.title__service__rubros_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.title__service__rubros_menu a{
    text-decoration: none;
}
.title__service__rubros_menu p:hover{
   
    color: #3917f8;
}
.service__explanation{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 50px;
}
.service__explanation__img{
    display: flex;
    align-items: center;
}
.service__explanation__img img{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;  
}
.explicacion__servicio{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: space-evenly;
    margin-left:40px;
}
.figura{
    width: 20%;
    height: 30%;
    background-color:#57f54924;
    border-radius: 290px 10px 190px 10px;
    position: absolute;
    display: flex;
}
.explicacion__servicio h4{
    padding-bottom: 1rem;
}
.explicacion__servicio li{
    padding-bottom: 0.5rem;
}
.service__explanation2{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-top: 50px;
}
.service__explanation2__img{
    display: flex;
    align-items: center;
}
.service__explanation2__img img{
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.explicacion__servicio2{
     display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: space-evenly;
    margin-right:40px;
}
.explicacion__servicio2 h4{
    padding-bottom: 1rem;
}
.explicacion__servicio2 li{
    padding-bottom: 0.5rem;
}
.more__details{
    display: flex;
    flex-direction: column;
}
.more__details h3{
    text-align: center;
    background-color: #4a62ff;
    color: white;
    height: 80px;
    padding-top: 30px;
}
.more__details__column{
   display: flex;
   justify-content: space-evenly;
   background-color: #a0a1d5;
   ;
   padding: 30px 0px 30px 0px;
}
.more__details__column li{
    padding-top: 10px;
}
.more__details__column  p{
    font-size: 12px;
}

/***************************************************\
                    HTML Nosotros 
****************************************************/

.container__grid__us{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content_us content_us content_us"
    "foot foot foot"
    ;
}
.content__nav__menu{
    grid-area: links;
}
.content__about{
    grid-area: content_us;
}

.container__footer{
    grid-area: foot;
}
.title__about{
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
    color: #0a0135;
}
.explanation__us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:50px 50px 50px 50px;
}
.explanation__us__img{
    display: flex;
    width: 100%;
    align-items: center;
}
.explanation__us__img img{
    justify-content: center;
}
.explanation__us__text{
    display: flex;
    flex-direction: column;
    margin:0px 0px 20px 20px;
}
.explanation__us__text p{
    text-align: justify;
    padding-top: 30px;
}
.more__details__about__vision{
    display: flex;
    flex-direction: row;
    margin: 200px 50px 200px 50px;
}
.more__details__about__vision__img{
    display: flex;
    align-items: center;
}
.more__details__about__vision__img img{
   border-radius: 10px 190px 10px 190px;
}
.more__details__about__vision__text{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.more__details__about__vision__text h2{
    text-align: center;
    font-size: 40px;
    color: #0a0135;
}
.more__details__about__vision__text  p{
    text-align: justify;
    padding-top: 20px;
}
.more__details__about__mision{
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 50px 50px 50px;
}
.more__details__about__mision__img{
    display: flex;
    align-items: center;
}
.more__details__about__mision__img img{
   border-radius: 10px 190px 10px 190px;
}
.more__details__about__mision__text{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.more__details__about__mision__text h2{
    text-align: center;
    font-size: 40px;
    color: #0a0135;
}
.more__details__about__mision__text  p{
    text-align: justify;
    padding-top: 20px;
}
/*------------------------------------------------


--------------------------------------------------*/
/***************************************************\
                    HTML Servicio
****************************************************/
.container__grid__service{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content_ser content_ser content_ser" 
    "foot foot foot"
    ;
}
.content__nav__menu{
    grid-area: links;
}
.container__service{
    grid-area: content_ser;
}

.container__footer{
    grid-area: foot;
}
.title__service{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #0a0135;
}
.title__service h2{
    font-size: 40px;
}
.content__service{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin:30px 0px 30px 0px;
}
.content__service__row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__service__col{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #0606f717;
    margin: 25px;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
    box-shadow: 6px -6px #2230eb29;
    
}
.content__service__col h5{
    padding-top: 40px;
    text-align: center;
}
.content__service__col img{
    display: flex;
    width: 56px;
    height: 56px;
}

.content__service__col p{
    padding-top: 10px;
    text-align: justify;
   
}



/*------------------------------------------------


--------------------------------------------------*/


/***************************************
************** HTML Footer*******************
***************************************/

.container__footer__column{
    display:flex;
    
    justify-content: space-around;
    background-color: #0a0135;
    padding:20px 0px 20px 0px;
}
.container__footer__column h3{
    color: #0089ff;
}
.container__footer__column li{
    list-style: none;
    padding-top: 20px;
    
}
.container__footer__column li a{
text-decoration: none;
color: white;

}
.container__footer__column li a:hover{
background-color: #fffefe;
color:#0e1dec;
}
.footer__column__contacto h4{
    color:white;
    padding-top: 20px;
}
.footer__rrss{
    display: flex;
    justify-content: center;
}
.footer__rrss img:hover{
    background-color: white;
}
.footer__column__contacto_logo{
    width: 30px;
    height: 30px;
 }



/*************************************** 
-------- @@@MEDIA
MAX-WIDTH 700PX-------------
****************************************/

@media (max-width: 700px){
html{
    min-height: 100%;
}
body{
    min-height: 100%;
    min-width: 100%;
}
/*******************************
*********  HTML INDEX & FOOTER *********
*******************************/

.container__grid__index{
    display:grid;
    grid-template-areas: 
    "links"
    "content_index"
    "foot "
    ;
}
.content__nav__menu{
    grid-area: links;
  
}
.container__home{
    grid-area: content_index;
}
.container__footer{
    grid-area: foot;
}
.back__color{
    background-color: #000222;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.carousel__rubros {
    margin-left: 10px;
    margin-right: 10px;
}
.width__carousel img{
    opacity: .5;
    height: 200px;
}
.advice{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px;
}
.advice__description{
    display: flex;
    width: 100%;
   
    margin:50px 20px 50px 20px;
}
.advice__description__text{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 0px;
    box-shadow: none;
}
.because__column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:30px;
}
.nav__contacto__mail{
    display: flex;
    color: white;
    padding-left: 0px;
    font-size: 12px;
    text-decoration: none;
    align-items: center;
}
/* ----------**********************************--------------- 
                           FOOTER
 ----------***********************************--------------*/

.container__footer__column{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: #0a0135;
    padding:20px 0px 20px 0px;
}
.container__footer__column h3{
    color: #0089ff;
    padding-top: 20px;
    text-align: center;
}
.container__footer__column ul{
    padding-left: 0px;
}
.container__footer__column li{
    list-style: none;
    padding-top: 20px;
}
.container__footer__column li a{
text-decoration: none;
color: white;
}
.footer__column__contacto h4{
    color:white;
    padding-top: 20px;
}   
 .footer__column__contacto_logo{
    width: 30px;
    height: 30px;
 }
    }

/*******************************
*********  HTML rubros  *********
*******************************/
@media (max-width: 700px){
    html{
        min-height: 100%;
    }
    body{
        min-height: 100%;
        min-width: 100%;
    }
   .container__grid__rubros{
    display:grid;
    grid-template-areas: 
    "links"
    "content"
    "foot"
    ;
}
.content__nav__menu{
    grid-area: links;
}
.content__rubros{
    grid-area: content;
}
.container__footer{
    grid-area: foot;
}

.service__explanation{
    display:flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
}
.title__service__rubros{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
    background-color: #ded7eb;

}
.service__explanation__img{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    
}

.service__explanation__img img{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;

}
.explicacion__servicio{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1rem 0 3rem;
    flex-direction: column;
    align-items: stretch;
    align-content: space-evenly;
    margin:10px;
}
.explicacion__servicio h3{
    padding-bottom: 1rem;
    text-align: center;
}
.explicacion__servicio h4{
    padding-bottom: 1rem;
}
.explicacion__servicio li{
    padding-bottom: 0.5rem;
}
.service__explanation2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #ebebeb;
    padding-top: 20px;
    margin: 8px;
    box-shadow: -2px 3px 9px 2px #717997;
}
.service__explanation2__img{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.service__explanation2__img img{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.explicacion__servicio2{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1rem 0 3rem;
    flex-direction: column;
    align-items: stretch;
    align-content: space-evenly;
    margin:10px;
}
.explicacion__servicio2 h3{
    padding-bottom: 1rem;
    text-align: center;
}
.explicacion__servicio2 h4{
    padding-bottom: 1rem;
}
.explicacion__servicio2 li{
    padding-bottom: 0.5rem;
}
.more__details{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
}
.more__details__column{
    flex-direction: column;
}
}



/* --------------------
 @@@ Media HTML Nosotros
-------------------------*/
@media (max-width: 700PX){
.container__us{
    display:grid;
    grid-template-areas: 
    "links "
    "content_us"
    "foot"
    ;
}
.menu__pages{
    grid-area: links;
}
.container__about{
    grid-area: content_us;
}
.container__footer{
    grid-area: foot;
}
.title__about{
    text-align: center;
    margin-top: 20px;
}
.explanation__us{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin:50px 50px 50px 50px;
}
.explanation__us__img{
    display: flex;
    width: 100%;
    align-items: center;
}
.explanation__us__img img{
    justify-content: center;
    width: 100%;
    height: 90%;
}
.explanation__us__text{
    display: flex;
    flex-direction: column;
    margin:20px 0px 20px 0px;
}
.explanation__us__text p{
    text-align: justify;
    padding-top: 30px;
}
/***************************************************************************
* Media pag-about-section-vision mision
******************************************************************************/
.more__details__about__vision{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 50px 50px 50px;
}
.more__details__about__vision__img{
    display: flex;
    align-items: center;
    width: 100%;
}
.more__details__about__vision__img img{
   border-radius: 10px 190px 10px 190px;
   width: 100%;
}
.more__details__about__vision__text{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.more__details__about__vision__text h2{
    text-align: center;
    font-size: 40px;
    color: #0a0135;
}
.more__details__about__vision__text  p{
    text-align: justify;
    padding-top: 20px;
}
.more__details__about__mision{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 50px 50px 50px;
}
.more__details__about__mision__img{
    display: flex;
    align-items: center;
    width: 100%;
}
.more__details__about__mision__img img{
   border-radius: 10px 190px 10px 190px;
   width: 100%;
}
.more__details__about__mision__text{
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.more__details__about__mision__text h2{
    text-align: center;
    font-size: 40px;
    color: #0a0135;
}
.more__details__about__mision__text  p{
    text-align: justify;
    padding-top: 20px;

}

/********************************
*Media 700px HTML SERVICIOS
************************************/

.title__service{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #0a0135;
}
.title__service h2{
    font-size: 40px;
}
.container__service{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:30px 0px 30px 0px;
}
.container__service__row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.container__service__col{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #0606f717;
    margin: 25px;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
}
.container__service__col h5{
    padding-top: 40px;
    text-align: center;
}
.container__service__col img{
    display: flex;
    width: 56px;
    height: 56px;
}

.container__service__col p{
    padding-top: 10px;
    text-align: justify;
   
}



}







